.cadastro-app {
  border-color:   #03428f;
  background-color: #ffffff;
  height: 450px;
  width: 600px;
  border-style: solid;
  border-width: 4px;
  padding: 30px;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.cadastro-app h1 {
  color: #03428f;
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 35px;
}

.cadastro-app input{
  color: #000;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 10px 45px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.cadastro-app button {
  color: #000;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size:0.65em;
  font-weight: bold;
  border: 0;
  margin: 10px auto;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  padding: 8px 10px;
  width: 120px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 1px;
  cursor: pointer;
}

.cadastro-app button:hover {
  background:#e4eaf1;
}