.alunojogo-app {
  text-align: center;
}

.alunojogo-header {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.alunojogo-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 5px;
  align-items: top;
}

.alunojogo-app h1 {
  font-size: 50px;
  font-family: CR A Std, monospace;
}
.alunojogo-app label {
  font-size: 30px;
  font-weight: bold;
  font-family: CR A Std, monospace;
  margin-bottom: 50px;
}

.alunojogo-sair {
  color: #FF914D;
  border-color: #FF914D;
  background-color: #ffffff;
  height: 40px;
  width: 160px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 530px;
  cursor: pointer;
}

.alunojogo-sair:hover {
  background:#e4eaf1;
}

.professorjogo-app {
  text-align: center;
}

.professorjogo-header {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.professorjogo-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 10px;
  align-items: top;
}

.professorjogo-app h1 {
  font-size: 40px;
}

.professorjogo-app label {
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 30px;
}

.professorjogo-painel button {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
}

.professorJogo-tabela {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  border:  1px solid;
  font-family: CR A Std, monospace;
  font-size: 18px;
  margin-top: 30px;
}

.professorjogo-finalizar {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 40px;
  width: 160px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 100px;
  cursor: pointer;
}

.professorjogo-painel button:hover {
  background:#e4eaf1;
}

.professorjogo-finalizar:hover {
  background:#e4eaf1;
}

.quiz-app {
  border-color: #000000;
  background-color: #ffffff;
  height: 550px;
  width: 600px;
  border-style: solid;
  border-width: 4px;
  padding: 30px;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.quiz-caixaresposta button {
  color: #000000;
  border-color: #000000;
  background-color: #ffb35c;
  font-family: CR A Std, monospace;
  width: 440px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
}

.quiz-caixaresposta label {
  font-family: CR A Std, monospace;
  font-size: 25px;
  margin-top: 15px;
}

.quiz-opcoes {
  width: 100%;
  display: block;
  margin-top: 50px;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-caixaresposta button:hover {
  background:#e4eaf1;
}