.resultados-component {
  font-family: CR A Std, monospace;
  font-size: 15px;
  background-color: #ffffff;
}

.resultados-component table, th, td {
    border:  1px solid black;
    border-collapse: collapse;
}

.resultados-component th, td {
    padding: 5px 10px;
}

.resultados-component td {
    color: rgb(0, 0, 0);
}

