.escolha {
  font-family: CR A Std, monospace;
  font-size: 15px;
  background-color: #ffffff;
}

.escolha table, th, td {
    border:  1px solid black;
    border-collapse: collapse;
}

.escolha th, td {
    padding: 5px 10px;
}

.escolha td {
    color: rgb(0, 0, 0);
}

.escolha button {
    background-color: #ffffff;
    font-family: CR A Std, monospace;
    cursor: pointer;
}

.escolha button:hover {
  background:#e4eaf1;
}