.partida {
  border-color:#03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  height: 200px;
  width: 500px;
  border-style: solid;
  border-width: 4px;
  padding: 30px;
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  margin-bottom: 260px;
}

.partida label {
  font-family: CR A Std, monospace;
  color: black;
  font-weight: bold;
  font-size: 1.0em;
  margin-bottom: 40px;
}

.partida button {
  font-family: CR A Std, monospace;
  border: 0;
  background: none;
  margin: 10px auto;
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
  border: 2px solid #3498db;
  padding: 20px 10px;
  width: 90px;
  color: rgb(0, 0, 0);
  transition: 0.25s;
  font-size:1.0em;
  cursor: pointer;
}

.partida button:hover {
  background:#e4eaf1;
}