.entrandopartida-app {
  border-color: #FF914D;
  background-color: #ffffff;
  height: 400px;
  width: 500px;
  border-style: solid;
  border-width: 4px;
  padding: 30px;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.entrandopartida-app h1 {
  color: #FF914D;
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 35px;
}

.entrandopartida-app input{
  color: #000;
  border-color: #FF914D;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 10px auto;
  margin-top: 60px;
  padding: 15px 35px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.entrandopartida-entrar {
  color: #000;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size:0.65em;
  font-weight: bold;
  border: 0;
  margin: 45px auto;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  padding: 8px 10px;
  width: 120px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 1px;
  cursor: pointer;
}

.entrandopartida-entrar:hover {
  background:#e4eaf1;
}