.lista-alunos {
  font-family: CR A Std, monospace;
  font-size: 15px;
  background-color: #ffffff;
}

.lista-alunos table, th, td {
    border:  1px solid black;
    border-collapse: collapse;
}

.lista-alunos th, td {
    padding: 5px 10px;
}

.lista-alunos td {
    color: rgb(0, 0, 0);
}