body {
  background-image: url('../Fundo.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}
.comojogar-app {
  text-align: center;

}

.comojogar-header {
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.comojogar-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.explicacao h1 {
  font-family: CR A Std, monospace;
  font-size: 40px;
}

.instrucoes-professor {
  width: 650px;
  border-color: #000;
  border: 5px solid;
}

.comojogar-voltar {
  color:  #000;
  border-color:  #000;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 80px;
  cursor: pointer;
}

.comojogar-voltar:hover {
  background:#e4eaf1;
}