.criarjogo-app {
  text-align: center;
}

.criarjogo-header {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.criarjogo-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.criarjogo-modal {
  display:inline-flex;
  font-size: 15px;
  color: black;
  margin-top: 4px;
  justify-content: space-around;
}

.criarjogo-tabela{ 
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  border:  1px solid;
  font-family: CR A Std, monospace;
  font-size: 18px;
  margin-top: 30px;
}

.criarjogo-voltar {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 100px;
  cursor: pointer;
}

.criarjogo-voltar:hover {
  background:#e4eaf1;
}