.criarpartida-app {
  text-align: center;
}

.criarpartida-header {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.criarpartida-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.criarpartida-app h1{
  font-family: CR A Std, monospace;
  font-size: 40px;
}

.criarpartida-voltar {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 300px;
  cursor: pointer;
}

.criarpartida-voltar:hover {
  background:#e4eaf1;
}