.editarperfil-app {
  text-align: center;
}

.editarperfil-header {
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.editarperfil-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.editarperfil {
  border-color:#03428f;
  background-color: #ffffff;
  height: 450px;
  width: 500px;
  border-style: solid;
  border-width: 4px;
  padding: 30px;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  margin-bottom: 260px;
}

.editarperfil-header h1{
  font-size: 30px;
  margin-bottom: 20px ;
}

.dados-editar input {
  color: #000;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 12px 30px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.dados-editar button{
  color: #000;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size:0.65em;
  font-weight: bold;
  border: 0;
  margin: 30px auto;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  padding: 8px 10px;
  width: 230px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 1px;
  cursor: pointer;
}

.editarperfil-voltar {
  color: #000;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size:0.65em;
  font-weight: bold;
  border: 0;
  margin: 10px auto;
  margin-top: 450px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  padding: 8px 10px;
  width: 120px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 1px;
  cursor: pointer;
}

.dados-editar button:hover {
  background:#e4eaf1;
}

.editarperfil-voltar:hover {
  background:#e4eaf1;
}