.editar-app {
  text-align: center;
}

.editar-header {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.editar-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.editar-header input {
  color: #000;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 5px auto;
  padding: 5px 25px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.editar-modal {
  display:inline-flex;
  font-size: 15px;
  color: black;
  margin-top: 4px;
  justify-content: space-around;
  cursor: pointer;
}

.editar-botao {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 45px;
  width: 190px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.editar-tabela {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  border:  1px solid;
  font-family: CR A Std, monospace;
  font-size: 18px;
  margin-top: 30px;
}

.editar-salvar {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 45px;
  width: 180px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 100px;
  cursor: pointer;
}

.editar-voltar {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 20px;
  cursor: pointer;
}

.tabela-jogosperguntas {
  font-family: CR A Std, monospace;
  font-size: 15px;
  background-color: #ffffff;
}

.tabela-jogosperguntas table, th, td{
    border:  1px solid black;
    border-collapse: collapse;
}

.tabela-jogosperguntas th, td{
    padding: 5px 10px;
}

.tabela-jogosperguntas td{
    color: rgb(0, 0, 0);
}

.editar-botao:hover{
  background:#e4eaf1;
}

.editar-salvar:hover{
  background:#e4eaf1;
}

.editar-voltar:hover{
  background:#e4eaf1;
}