.entrarpartida-app {
  text-align: center;
}

.entrarpartida-header {
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.entrarpartida-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.entrarpartida-voltar {
  color: #FF914D;
  border-color: #FF914D;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 400px;
  cursor: pointer;
}

.entrarpartida-voltar:hover {
  background:#e4eaf1;
}