.telainicial-app {
  text-align: center;
  font-family: CR A Std, monospace;
}

.telainicial-header {
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.telainicial-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aluno-bt {
  color: #FF914D;
  border-color:  #FF914D;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  height: 200px;
  width: 250px;
  font-size: 30px;
  font-weight: bold;
  border-style: solid;
  border-width: 4px;
  margin-top: 40px;
  margin-right: 30px;
  cursor: pointer;
}

.professor-bt {
  color: #03428f;
  border-color:   #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  height: 200px;
  width: 250px;
  font-size: 30px;
  font-weight: bold;
  border-style: solid;
  border-width: 4px;
  margin-top: 40px;
  margin-right: 30px;
  cursor: pointer;
}

.aluno-bt:hover {
  background:#e4eaf1;
}

.professor-bt:hover {
  background:#e4eaf1;
}