.aluno-app {
  text-align: center;
}

.aluno-header {
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.aluno-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.aluno-botoes h1 {
  font-size: 40px;
}

.aluno-linha button{
  color: #FF914D;
  border-color: #FF914D;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 20px;
  height: 80px;
  width: 300px;
  margin-top: 40px;
  margin-right: 30px;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
}

.aluno-linha {
  display: flex;
  justify-content: space-around;
}

.aluno-voltar{
  color: #FF914D;
  border-color: #FF914D;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 100px;
  cursor: pointer;
}

.aluno-linha button:hover {
  background:#e4eaf1;
}

.aluno-voltar:hover {
  background:#e4eaf1;
}