h1 {
    font-size: 50px;
}
.jogo-app {
  text-align: center;
}

.jogo-header {
  background-color: #03428f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.jogo-sair{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #FF914D;
  border-color: #000;
  color: #000000;
  font-weight: 600;
  height: 40px;
  width: 80px;
  margin-top: 60px;
  font-size: 15px;
  border-radius: 15px;
}