.professor-app {
  text-align: center;
}

.professor-header {
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.professor-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.professor-botoes h1 {
  font-size: 40px;
}

.professor-perfil button{
  color: #03428f;
  border-color:   #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 20px;
  height: 60px;
  width: 250px;
  margin-top: 40px;
  margin-right: 30px;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
}

.professor-linha {
  display: flex;
  justify-content: center;
}

.professor-linha button {
  color: #03428f;
  border-color:   #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 20px;
  height: 70px;
  width: 300px;
  margin-top: 40px;
  margin-right: 30px;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
}

.professor-sair {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 100px;
  cursor: pointer;
}

.professor-linha button:hover {
  background:#e4eaf1;
}

.professor-perfil button:hover {
  background:#e4eaf1;
}

.professor-sair button:hover {
  background:#e4eaf1;
}