.resultados-app {
  text-align: center;
}

.resultados-header {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.resultados-logo {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.resultados-tabela {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  border:  1px solid;
  font-family: CR A Std, monospace;
  font-size: 18px;
  margin-top: 30px;
}

.resultados-exibir button {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 20px;
  height: 30px;
  width: 220px;
  margin-right: 30px;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
}

.resultados-voltar {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 80px;
  cursor: pointer;
}

.resultados-voltar:hover {
  background:#e4eaf1;
}

.resultados-app button:hover {
  background:#e4eaf1;
}