.tabela-adicionarPergunta{
   font-family: 'Press Start 2P', cursive;
   font-size: 15px;
   background-color: white;
}

.tabela-adicionarPergunta table, th, td{
    border:  1px solid black;
    border-collapse: collapse;
}

.tabela-adicionarPergunta th, td{
    padding: 5px 10px;
}

.tabela-adicionarPergunta td{
    color: rgb(0, 0, 0);
}