.jogo input {
  color: #000;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 5px auto;
  padding: 5px 25px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.jogo button {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 35px;
  width: 120px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 10px;
  cursor: pointer;
}

.jogo button:hover{
  background:#e4eaf1;
}