.listaModal {
  width: 100%;
  height: 115vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-flex;
  justify-content:space-around;
  align-items: center;
}

.listaModalContainer {
    border-color: #03428f;
    background-color: #ffffff;
    color: #000;
    border-style: solid;
    border-width: 4px;
    font-weight: bold;
    width: 50%;
    height: 70%;
        
    .listaModalClose {
        background-color: transparent;
        border: none;
        outline: none;
        width: 32px;
        height: 32px;
        right: calc(-100% + 34px);
        top: 2px;
        cursor: pointer;
        display: flex;
        position: relative;
        align-items: center;

        &:before,
        &:after{
            content: ' ';
            position: absolute;
            width: 2.5px;
            height: 24px;
            background-color: #000;
        }

        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        }
        
    }
}

.listaModalContent {
    display: flex;
    justify-content: center;
}