.tabela-jogos {
  font-family: CR A Std, monospace;
  font-size: 15px;
  background-color: #ffffff;
}

.tabela-jogos table, th, td {
    border:  1px solid black;
    border-collapse: collapse;
}

.tabela-jogos th, td {
    padding: 5px 10px;
}

.tabela-jogos td {
    color: rgb(0, 0, 0);
}

.tabela-jogos button {
    background-color: #ffffff;
    font-family: CR A Std, monospace;
    cursor: pointer;
}