.pergunta {
  border-color: #03428f;
  background-color: #ffffff;
  height: 440px;
  width: 550px;
  border-style: solid;
  border-width: 4px;
  padding: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  min-height: 20vh;
}
.pergunta h1 { 
  color: #03428f;
  font-family: CR A Std, monospace;
  font-weight: bold;
  font-size: 25px;
  margin-top: -5px;
}
.pergunta label {
  flex-direction: column;
  font-family: CR A Std, monospace;
  font-weight: bold;
  display: flexbox;
}

.pergunta input {
  color: #000;
  border-color: #03428f;
  background-color: #ffffff;
  font-family: CR A Std, monospace;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 5px 25px;
  transition: 0.25s;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.pergunta select{
  font-family: CR A Std, monospace;
  margin-bottom: 1px solid #000000;
  border-radius: 4px;
  background-color: #fff;
  height: 20px;
}

.pergunta button {
  color: #03428f;
  border-color: #03428f;
  background-color: #ffffff;
  height: 35px;
  width: 120px;
  font-family: CR A Std, monospace;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  margin-top: 30px;
  cursor: pointer;
}

.pergunta button:hover{
  background:#e4eaf1;
}